.separatorBg {
	background-image: url("@/assets/images/hero.jpg");
	background-image: -webkit-image-set(
		url("@/assets/images/hero.jpg") 0.25x,
		url("@/assets/images/hero.webp") 0.5x,
		url("@/assets/images/hero.png") 1x
	);
	background-image: -moz-image-set(
		url("@/assets/images/hero.jpg") 0.25x,
		url("@/assets/images/hero.webp") 0.5x,
		url("@/assets/images/hero.png") 1x
	);
	background-image: image-set(
		url("@/assets/images/hero.jpg") 0.25x,
		url("@/assets/images/hero.webp") 0.5x,
		url("@/assets/images/hero.png") 1x
	);
	background-repeat: repeat;
	background-size: cover;
	background-position: center 70%;
}
