.text-shadow-2 {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bg-blur-10 {
	background-color: rgba(122, 122, 122, 0.66);
	@supports (
		(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
	) {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(150, 150, 150, 0.33);
		opacity: 0.99;
	}
}

.border-t-3 {
	border-top-width: 3px;
}

.leading-0 {
	line-height: 0;
}

.-z-1 {
	z-index: -1;
}

.safe-area-x {
	padding-left: calc(0.75rem + constant(safe-area-inset-left));
	padding-left: calc(0.75rem + env(safe-area-inset-left));
	padding-right: calc(0.75rem + constant(safe-area-inset-right));
	padding-right: calc(0.75rem + env(safe-area-inset-right));
}

@layer utilities {
	.text-shadow-2 {
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	.bg-blur-5 {
		background-color: rgba(255, 255, 255, 0.66);
	}

	.w-fit {
		width: fit-content;
	}

	@supports (
		(-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
	) {
		.bg-blur-5 {
			opacity: 0.99;
			background-color: rgba(255, 255, 255, 0);
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
		}
	}
}

@layer components {
	.background-figures {
		position: relative;
	}
	.background-figures::before {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		background-image: url("@/assets/images/bg_2x.png");
		/* background-repeat: repeat; */
		background-size: 2420px auto;
		background-position: left top;
		opacity: 0.36;
		z-index: -10;
	}
}
