@import url("fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow-2 {
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	.bg-blur-5 {
		background-color: rgba(255, 255, 255, 0.66);
	}

	.w-fit {
		width: fit-content;
	}

	@supports (
		(-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
	) {
		.bg-blur-5 {
			opacity: 0.99;
			background-color: rgba(255, 255, 255, 0);
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
		}
	}
}

@layer components {
	.background-figures {
		background-image: url("@/assets/images/bg.svg");
		/* background-repeat: repeat; */
		background-size: 5000px auto;
		background-position: left top;
	}
}

body {
	@apply background-figures;
}

html,
body {
	@apply font-Montserrat;
}

code {
	@apply font-RobotoMono;
}

.react-images__view-image {
	max-height: 100vh !important;
	@apply mx-auto;
}
