@import '../utils/breakpoints';
@import '../utils/separator';
@import '../utils/themes';

$header-height-small: 4em;
$header-height-large: 6em;

.aboutSection {
  min-height: calc(100vh - #{$header-height-large});

  @include media-breakpoint-up(md) {
    min-height: calc(100vh + #{$separator-height} - #{$header-height-small});
  }
}

.teamSection {
  @include theme(light);
}
