@import '../utils/breakpoints';

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.introductionContainer {
  flex: 5;
}

.sectionTitle {
  text-transform: lowercase;
}

.divisionsList {
  flex: 7;
  padding: 0;
  font-size: 2em;
  line-height: 2;
  list-style-type: none;
  text-align: right;
  text-transform: lowercase;
}
