.textCenter {
  text-align: center;
}

.email {
  font-weight: bold;
}

.socialMediaIconsContainer {
  margin: 1em 0;
  font-size: 2em;
  text-align: center;

  a {
    color: inherit;
  }

  > *:not(:last-child) {
    margin-right: 1.5em;
  }
}
