@import '../utils/themes';

.root {
  background: map-get(map-get($themes, light), background);
  color: map-get(map-get($themes, light), color);
}

.textCenter {
  text-align: center;
}

.contactTitle {
  margin-top: 0;
}

.email {
  font-weight: bold;
}

.socialMediaIconsContainer {
  margin: 1em 0;
  font-size: 2em;
  text-align: center;

  a {
    color: inherit;
  }

  > *:not(:last-child) {
    margin-right: 1.5em;
  }
}

.projectRequest {
  padding-bottom: 2.5em;
  margin-bottom: 0;
}
