@import '../utils/breakpoints';
@import '../utils/colors';
@import '../utils/flexbox';
@import '../utils/themes';

.root {
  @include theme(dark);

  padding: 1em 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include gap(0.5em);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.brandContainer {
  flex: 7;
}

.menuContainer {
  flex: 5;
}

.menuItemsList {
  display: flex;
  justify-content: space-between;

  @include gap(0 2em);

  padding: 0;
  list-style-type: none;
  text-transform: lowercase;
}

.menuItemLink {
  padding: 0.5em 0;
  opacity: $opacity-light;

  &:hover {
    opacity: $opacity-default;
  }
}
