@import '~modern-normalize';
@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono:500);

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.headerBrandLogo {
  height: 2em;
  vertical-align: middle;
}

.content {
  a:hover {
    text-decoration: underline;
  }
}
