@import '../utils/breakpoints';
@import '../utils/colors';
@import '../utils/themes';
@import '../utils/typography';

body {
  @include theme(dark);
  @include font(body);

  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include media-breakpoint-up(md) {
    font-size: 1.25em;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.5em;
  }
}

h1 {
  @include font(display);

  font-size: 2em;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;

  .main & {
    color: $color-link;

    &:not(:hover) {
      text-decoration: underline;
    }
  }
}

.headerBrandLogo {
  height: 2em;
  vertical-align: middle;
}
