@import '~modern-normalize';

a {
  color: inherit;
  text-decoration: none;
}

.headerBrandLogo {
  height: 2em;
  vertical-align: middle;
}

.content {
  a:hover {
    text-decoration: underline;
  }
}
