@import '../utils/breakpoints';

.membersContainer {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: (100% / 4) 0 0;

    @include media-breakpoint-up(sm) {
      flex-basis: (100% / 6);
    }

    @include media-breakpoint-up(md) {
      flex-basis: (100% / 8);
    }
  }
}
