$fonts: (
  display: (
    font-family: unquote("'Roboto Mono', monospace"),
    font-weight: normal,
  ),
  body: (
    font-family: unquote("'Montserrat', sans-serif"),
  ),
);

@mixin font($type) {
  @each $key, $value in map-get($fonts, $type) {
    #{$key}: #{$value};
  }
}
